<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="save()" >
          <h2>Mi Formulario</h2>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" formControlName="nombreControl" class="form-control" id="nombre" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" formControlName="apellidoControl" class="form-control" id="apellido" placeholder="Ingrese su apellido">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="emailControl" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese su correo">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="passwordControl" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Ingrese una contraseña">
          </div>
          
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>